.header {
  display: flex;
  align-items: center;
  padding: 0 24px;
  width: 100%;
  height: 200px;
}
.header .logo {
  font-size: 50px;
}
.header .head-right {
  margin-left: auto;
}
.header .btn-head-progress {
  display: block;
  width: 40px;
  height: 40px;
}
.header .btn-head-progress svg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}
.header .btn-head-progress svg .circle {
  stroke: #bbb;
  stroke-width: 12px;
}
.header .btn-head-progress svg .bar {
  stroke: #000;
  stroke-width: 12px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.acc-intro-swiper {
  padding: 40px;
}
.acc-intro-swiper .slider {
  position: relative;
  overflow: hidden;
}
.acc-intro-swiper .txt {
  font-size: 24px;
  font-weight: 700;
}
.acc-intro-swiper .swiper-pagination {
  bottom: 0;
}